 .scheduleCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px; 
    border-radius: 20px;
}

.scheduleCardHeading{
    display: flex;
    align-items: center;
    gap: 35px;
}

.selectedColor{
    background-color: #3734a8;
    color: white;
}
.defaultColor{
    background-color: #dde2f9;
    color: #28125e;
}

.scheduleCardName{
    margin: 5px;
    font-size: 12px;
    font-weight: 600;
}

.scheduleTimeRange, .scheduleDocterName, .scheduleTime{
    margin: 3px;
    font-size: 10px;
}




