.dashBoardChartAndRotation{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    width: 100%;
    height: 280px;
    background-color: #eaf3fd;
    border-radius: 12px;
    margin-right: 40px;
}

.dashBoardChart{
        position: relative;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.dashBoardMuscular{
    margin-left: 35px;
}

.dashBoardZoom{
    margin-top: 20px;
} 


@media (max-width: 960px) {
    .dashBoardChartAndRotation{
        margin-right: 0;
        margin-bottom: 20px;
    }
}

