.appContainer {
  min-height: 100vh;
  width: 100%;
  /* padding: 10px 100px; */
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  align-content: center; 
  overflow-y: auto; /* allows scrolling if overflow occurs */
}

.sidebarDashboard{
    display: flex;
    align-items: center;
    /* justify-content:space-between; */
     height: 95vh;
       width: 46%;

}

/* 
          display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content:space-between;
    width: 46%;
    height: 95vh;
    background-color: #eaf3fd;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    padding-left: 30px;
    padding-right: 30px;
    min-width: 101.37px; */








@media (max-width:1000px){
  .appContainer{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

}

@media (max-width:950px){
  .sidebarDashboard{
    width: 100%;
  }
}



