.appContainer {
  min-height: 100vh;
  width: 100%;
  /* padding: 10px 100px; */
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; /* or stretch */
  overflow-y: auto; /* allows scrolling if overflow occurs */
}


.sideBarDashBoard{
    display: flex;
    align-items: center;
    height: 100%;
    width: 60%;
    background-color: brown;
}


/* 
@media (max-width:790px){
  .appContainer{
    height: 100vh;
  }
} */


